.contact-wrapper {
  width: 75%;
  margin: 0 auto;
}

.contact-container {
  display: flex;
}

.contact-text p {
  color: grey;
}

// contact-left side

.contact-left-side {
  width: 50%;
}

.contact-title h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.contact-title h4 {
  text-transform: uppercase;
  text-align: center;
}

.contact-logos {
  display: flex;
  flex-direction: column;
}

.contact-logos svg {
  border: 1px solid black;
  font-size: 3.5rem;
  border-radius: 90px;
  padding: 10px;
}

.contact-logos p {
  color: grey;
}

.location-logo-container {
  display: flex;
  padding-bottom: 20px;
}

.email-logo-container {
  display: flex;
  padding-bottom: 20px;
}

.phone-logo-container {
  display: flex;
}

// contact-right side //

.contact-right-side {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
}
