.recent-work-wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.work-container {
  width: 80%;
}

.work-carousel {
  display: flex;
  border: 1px solid grey;
  margin-bottom: 350px;
}
