.recent-work-wrapper {
  width: 75%;
  margin: 0 auto;
  font-family: $site-font;
}

.recent-work-wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.recent-work-wrapper h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: black;
  position: absolute;
  transform: translate(-100px);
  margin-top: 40px;
}

.work-carousel {
  border: 1px solid grey;
  height: 60vh;
  width: 100%;
  margin-bottom: 40px;
  padding: 30px;
}

.work-image {
  width: 100%;
}

.work-image img {
  height: 50vh;
  width: 50%;
}
