.testimonals-container {
  background-image: url(../../../assets/code-two.jpg);
  height: clamp(50px, 755 / 1600 * 100vw, 300px);
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $site-font;
}

.testimonals-container h1 {
  color: white;
  font-size: 4rem;
  margin-top: -20px;
}

.testimonals-container h1::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 40px;
}

.testimonals-container p {
  color: white;
  text-transform: uppercase;
  margin-top: -50px;
  padding-left: 15%;
  padding-right: 15%;
}

.testimonals-container img {
  width: 7.5%;
  height: 10vh;
  border: solid white 2px;
  margin: 0 auto;
  border-radius: 90%;
}
