// skills-section //

// about-me-section //

@media (max-width: 1068px) {
  .about-me-container {
    flex-direction: column;
  }
  .about-pic img {
    width: 350px;
  }
  .about-text {
    width: 120%;
    padding-left: 50px;
    margin-left: -10%;
  }
}

// contact-section //

@media (max-width: 887px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-text {
    width: 250%;
    padding-left: 20px;
  }
  .contact-container .contact-right-side form {
    width: 200%;
  }
}
