// skills-section //

@media (max-width: 740px) {
  .skills-title {
    width: 40% !important;
  }
}

// about-me-section //

@media (max-width: 1068px) {
  .about-me-container {
    flex-direction: column;
  }
  .about-pic img {
    width: 350px;
    margin-top: 20px;
  }
  .about-text {
    width: 120%;
    padding-left: 50px;
    margin-left: -10%;
  }
}

@media (max-width: 500px) {
  .about-pic img {
    width: 300px;
    height: 25vh !important;
  }
}

@media (max-width: 1068px) {
  .about-text button {
    margin-top: 20px;
    margin-left: 32.5%;
  }
}

// testimonals-section //

@media (max-width: 861px) {
  .testimonals-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 596px) {
  .testimonals-container p {
    font-size: 0.8rem;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .testimonals-container img {
    height: 5vh !important;
  }
}

@media (max-width: 502px) {
  .testimonals-container p {
    font-size: 0.7rem;
  }
}

// my work section //

@media (max-width: 678px) {
  .work-carousel {
    height: 850px !important;
  }
}

@media (max-width: 610px) {
  .work-carousel {
    height: 870px !important;
  }
}

@media (max-width: 482px) {
  .work-carousel {
    height: 890px !important;
  }
}

@media (max-width: 411px) {
  .work-carousel {
    height: 910px !important;
  }
}

@media (max-width: 379px) {
  .work-carousel {
    height: 90px !important;
  }
}

// contact-section //

@media (max-width: 1060px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-left-side {
    width: 100% !important;
    padding-right: 0 !important;
    margin-top: -20px;
  }

  @media (max-width: 1068px) {
    .contact-right-side button {
      margin-top: 20px;
    }
    .contact-right-side {
      width: 100% !important;
    }
  }
}
