html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 740px) {
  .skills-title {
    width: 40% !important;
  }
}
@media (max-width: 1068px) {
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-pic img {
    width: 350px;
  }

  .about-text {
    width: 120%;
    padding-left: 50px;
    margin-left: -10%;
  }
}
@media (max-width: 500px) {
  .about-pic img {
    width: 300px;
    height: 25vh !important;
  }
}
@media (max-width: 1068px) {
  .about-text button {
    margin-top: 20px;
    margin-left: 32.5%;
  }
}
@media (max-width: 1060px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-container .contact-text {
    width: 250%;
    padding-left: 20px;
  }

  .contact-container .contact-right-side form {
    width: 200%;
  }
}
@media (max-width: 1060px) and (max-width: 1068px) {
  .contact-right-side button {
    margin-top: 20px;
    margin-left: 35%;
  }
}
.nav-container {
  text-align: center;
  font-family: "Noticia Text";
}

.name-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 200%;
  border: 2px solid black;
  margin-top: 20px;
  padding-top: 2.5px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.name-logo span {
  border-bottom: 5px solid black;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  white-space: nowrap;
}

.nav-bar li {
  list-style: none;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 75px;
  display: inline-block;
}

.header-container {
  background-image: url(../../../assets/cool-space.jpg);
  height: clamp(50px, 47.1875vw, 570px);
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
}

.header-container h4 {
  color: white;
  margin-top: -20px;
  font-style: italic;
}

.header-container h1 {
  color: white;
  text-underline-position: under;
  text-transform: uppercase;
}

h4::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: white;
  position: absolute;
  -webkit-transform: translate(-190px);
          transform: translate(-190px);
  margin-top: 25px;
}

.header-button {
  background-color: transparent;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
}

.skills-container {
  width: 79%;
  margin: 0 auto;
  font-family: "Noticia Text";
}

.skills-container h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.skills-container h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: black;
  position: absolute;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  margin-top: 40px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-container h4 {
  list-style: none;
  text-transform: uppercase;
}

.skills-title {
  text-align: center;
  border-top: solid grey 1px;
  padding: 15px;
  margin: 10px;
  width: 20%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.skills-title:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #6699ff;
}

.skills-title svg {
  font-size: 3.5rem;
}

.skills-title p {
  color: grey;
  border-top: 1px solid grey;
  padding-top: 15px;
}

.my-work-divider-container {
  background-image: url(../../../assets/toronto-background-final.jpg);
  height: clamp(50px, 47.1875vw, 400px);
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.my-work-divider-container h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.my-work-button {
  background-color: transparent;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -30px;
}

#about-me h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Noticia Text";
}

#about-me h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: black;
  position: absolute;
  -webkit-transform: translate(-75px);
          transform: translate(-75px);
  margin-top: 40px;
}

.about-me-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Noticia Text";
}

#capitlized {
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.about-pic img {
  height: 50vh;
  border-radius: 10px;
  border: solid black 2px;
}

.about-text {
  padding-left: 30px;
}

.about-text p {
  color: grey;
}

.about-text button {
  background-color: black;
  width: 30%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-text button a {
  color: white;
  text-decoration: none;
}

.socials-container {
  background-image: url(../../../assets/camping-night.jpg);
  height: clamp(50px, 47.1875vw, 250px);
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials-container svg {
  color: white;
  font-size: 6rem;
  padding: 15px;
}

.recent-work-wrapper {
  width: 75%;
  margin: 0 auto;
  font-family: "Noticia Text";
}

.recent-work-wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.recent-work-wrapper h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: black;
  position: absolute;
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
  margin-top: 40px;
}

.work-carousel {
  border: 1px solid grey;
  height: 60vh;
  width: 100%;
  margin-bottom: 40px;
  padding: 30px;
}

.work-example-pic img {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
}

.testimonals-container {
  background-image: url(../../../assets/code-two.jpg);
  height: clamp(50px, 47.1875vw, 300px);
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noticia Text";
}

.testimonals-container h1 {
  color: white;
  font-size: 4rem;
  margin-top: -20px;
}

.testimonals-container h1::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 40px;
}

.testimonals-container p {
  color: white;
  text-transform: uppercase;
  margin-top: -50px;
  padding-left: 15%;
  padding-right: 15%;
}

.testimonals-container img {
  width: 7.5%;
  height: 10vh;
  border: solid white 2px;
  margin: 0 auto;
  border-radius: 90%;
}

.contact-wrapper {
  width: 75%;
  margin: 0 auto;
  font-family: "Noticia Text";
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-text p {
  color: grey;
}

.contact-left-side {
  width: 50%;
  padding-right: 50px;
}

.contact-title h2 {
  text-transform: uppercase;
  text-align: center;
}

.contact-title h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: black;
  position: absolute;
  -webkit-transform: translate(-65px);
          transform: translate(-65px);
  margin-top: 40px;
}

.contact-title h4 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
}

.contact-logos svg {
  border: 2px solid black;
  font-size: 3.5rem;
  border-radius: 90px;
  padding: 10px;
}

.contact-logos p {
  color: grey;
}

.location-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.location-logo {
  margin-right: 20px;
}

.email-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.email-logo {
  margin-right: 20px;
}

.phone-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-logo {
  margin-right: 20px;
}

.contact-right-side {
  width: 50%;
}

.contact-right-side button {
  background-color: black;
  color: white;
  width: 30%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

input,
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: 50vh;
  margin-top: 30px;
}

footer {
  background: black;
  color: white;
}

footer p {
  text-align: center;
  font-family: "Noticia Text";
}